@import "variables";

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  width: 941px;

  &__box {
    background-color: $color-background;
    border-radius: 5px 5px 0px 0px;
    height: 100%;
    width: 100%;
  }
}
