@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.content {
  height: 100vh;

  &__wrapper {
    @include flex-display($gap: 20px, $align-items: center);
    width: fit-content;
    height: 100%;
    gap: 20px;
    position: relative;
    right: 100px;
  }
}

.main-content {
  @include flex-display($gap: 20px);
}
